### CE 103- INTRODUCTION TO COMPUTERS and PROGRAMMING

### _The topics of the week !_

- Strings
- Python Collections
    - Lists     ----->  Ordered and changeable collection which allows duplicate members.
    - Tuples    ----->  Ordered and unchangeble collection which allows duplicate members.
    - Dictionaries -->  Unordered, changeable, indexed and single members collection.
    - Arrays

---

# Strings

We have learned last week that Python (such as other programming languages) can be used as a calculater by using math symbols and also Numbers. 

#### <font color=green>!!! A string is a sequence of characters !!!</font>

A character is simply a symbol. Actually computers deal with numbers (binary), not with characters. All characters you may see on the screen are stored and manipulated as a combination of zeros (0) and ones (1), internally. Converting the character to a number is called encoding (ASCII, Unicode etc.) and the visa versa is decoding. 

If you get __"UnicodeDecodeError: 'ascii' codec can't decode byte..."__ error of code, then that means the string is a byte string.


A string is a series of Unicode characters.

We use the **_Unicode Standard_**, in order to describe how characters are represented by code points.

![](../Figures/unicode.png)


**_Character Encoding_** or **_Encoding_** refers to the rules for translating a Unicode string into a sequence of bytes. So, the **String** "Python" looks like as below by using 32-bit integers as the code unit.

![](../Figures/encode.png)

*** Image source : https://docs.python.org/3/howto/unicode.html

In [1]:
mood = b'\xf0\x9f\x98\x80'
mood

b'\xf0\x9f\x98\x80'

In [2]:
mood.decode()

'ðŸ˜€'

In [3]:
#'ðŸ˜€' is a Unicode object. To get the codepoint number, the "ord" function can be used.

s = 'ðŸ˜€'
print('U+{:X}'.format(ord(s)))

U+1F600

In [4]:
a = u'\05D4\05D4'
a.encode('utf-8')

b'\x05D4\x05D4'

In [5]:
ascii("jalepeÃ±o")

"'jalepe\\xf1o'"

In [6]:
bytes((104, 101, 108, 108, 111, 32, 119, 111, 114, 108, 100))

b'hello world'

In [7]:
str(b"\xc2\xbc cup of flour", "utf-8")

'Â¼ cup of flour'

![](../Figures/encode-decode.png)

*** Image source: https://realpython.com/python-encodings-guide/

In [8]:
# Python can also manipulate "strings". They can be adressed in single quotes (' ') or in double quotes (" ").

iron = "Cause if we can't protect the Earth, "
man = 'you can be sure we will avenge it'

In [9]:
ironman = iron + man

In [11]:
#print(iron + man)
print("iron + man")

iron + man

![](./Figures/ironman2.jpg)

In [15]:
# Backslash can be used to enclose for special characters in the output string 

'I\'m Iron man'

"I'm Iron man"

In [13]:
"I am Iron man"

'I am Iron man'

In [16]:
print("Lines can be seperated\n by backslash with symbol 'n' next to it.")

Lines can be seperated
 by backslash with symbol 'n' next to it.

In [18]:
#set the rule variable
rule = 'use backslash with \n"print" \n command'

print(rule)

use backslash with
"print"
 command

In [19]:
print ('MyData\notes\CE103')     # \n means newline

MyData
otes\CE103

In [20]:
print (r'MyData\notes\CE103')    # use r before the quote

MyData\notes\CE103

In [21]:
code = "CE103"
f"Lecture code is {code}."

'Lecture code is CE103.'

In [22]:
print(f"Lecture code is {code}.")

Lecture code is CE103.

In [23]:
print(f"Hello\nWorld!")

Hello
World!

In [25]:
Lect = 'CE103'
HGrade = "AA"
NumStdnt = 79

#print('{0} students got the highest grade "{1}" in the {2} Midterm Exam.'.format(NumStdnt,HGrade,Lect))

# by using f-strings
print(f'{NumStdnt} students got the highest grade "{HGrade}" in the {Lect} Midterm Exam.')

79 students got the highest grade "AA" in the CE103 Midterm Exam.

---
### How to access characters in string?

Method of indexing can be used to access the characters in a string. Indexing could be think as pointing between characters. Index starts from 0. The left edge of the character numbered as 0, increases from left to right and the right edge of the character starts with -1, e.g. -1 refers to the last character, -2 refers to the second last character and so on.

![](../Figures/string-sequence.png)

Accessing an index out of the range will cause an <font color=orange>IndexError</font>. We can also access individual characters using slicing. 
The index must be an integer, otherwhise, this will result into <font color=orange>TypeError</font>.

In [26]:
# Lets assign Steve Job's words as string to a variable
str = "Your time is limited, so don\â€™t waste it living someone else\â€™s life."

print('first character = ', str[0])    #first character

first character =  Y

In [27]:
print('last character = ', str[-1])        #last character

last character =  .

In [28]:
print('slicing 6nd to 9th character = ', str[6:9])     #slicing 6nd to 9th character

slicing 6nd to 9th character =  ime

In [29]:
print('slicing 25th to 37nd last character = ', str[25:-37])  #slicing 25th to 37nd last character

slicing 25th to 37nd last character =  don\â€™t

In [30]:
str = 'abcdefg'      
print(str[::2])

aceg

In [31]:
print(str[1::4])

bf

In [32]:
print(str[::-1])

gfedcba

In [33]:
print(str[3:-1])

def

In [34]:
print('   ')

In [35]:
print(str[1:])

bcdefg

In [36]:
print(str[1:4])

bcd

In [37]:
st = 'abcdefg'  
st[8]   # index must be in range error

IndexError: string index out of range

In [38]:
st[1.5] # index must be an integer error

TypeError: string indices must be integers

---
Elements of a string cannot be changed once it has been assigned. We can assign different strings to the same variable name.

In [39]:
str = 'hulk'
print(str)

hulk

![](../Figures/hulk.jpg)

In [40]:
str = '2,4,6'
print(str)

2,4,6

---
String is one of the most used datatypes in Python with its operational features.

A string can be a join of two or more strings which is called concantenation. ' + ' operator can be used joining while ' * ' operator can be used to repeat the string with a given numbers.

In [41]:
str1 = 'to be, '
str2 ='or, not '

print( str1 + str2 + str1)

to be, or, not to be,

In [42]:
print(str1 * 3,"that\'s the problem")

to be, to be, to be,  that's the problem

---
The built-in functions such as enumarate(), len() etc. and numerous methods such as  lower(), upper(), join(), split(), find(), replace() etc. are very usefull for the work with sequence as well as works with string.

In [43]:
str = 'winter is coming'

list_enumerate = list(enumerate(str)) #contains all items as pairs
print(list_enumerate)

[(0, 'w'), (1, 'i'), (2, 'n'), (3, 't'), (4, 'e'), (5, 'r'), (6, ' '), (7, 'i'), (8, 's'), (9, ' '), (10, 'c'), (11, 'o'), (12, 'm'), (13, 'i'), (14, 'n'), (15, 'g')]

In [45]:
len(str) #count characters

16

In [46]:
str2 = 'sUmmEr is ENDing'
print(str2.upper())

SUMMER IS ENDING

In [47]:
str2.lower()

'summer is ending'

In [48]:
str2.split()

['sUmmEr', 'is', 'ENDing']

In [49]:
str2.find('is')

7

In [50]:
str2.replace('is','is not')

'sUmmEr is not ENDing'

In [52]:
p = "Why, Mr. Anderson? Why keep fighting?"
print(p.find('Why'))      
p.rfind('Why')

0

19

In [53]:
p = "Why, Mr. Anderson? Why keep fighting?"

print('Why keep fighting?'.replace('fighting','laughing'))

Why keep laughing?

In [54]:
print(p.replace('Why','please',2))

please, Mr. Anderson? please keep fighting?

In [55]:
print("Why, Mr. Anderson? Why keep fighting?".count('h'))

3

---
# Lists

Python offers a sequence of datatypes in order to group values. Lists are one of the most versatile and frequently used items. They created by comma-separated values (elements) between square brackets [ ] in any number and any different type such as integer, float, string etc.

In [56]:
lst = [] # create empty list

In [ ]:
lst = [1, 2, 3]# list of integers

In [ ]:
lst = [3.14, "pi", (22/7)] # list of different datatypes

In [60]:
lst = ["week",[2,4,6],['tuesday',6]] # nested list
lst

['week', [2, 4, 6], ['tuesday', 6]]

---
#### Access items of a list

   ##### _***1.Index Operator***_

An index operator ([ ]) can be used to access the elements of a list. Index starts with 0 and must be an integer. If you access the index number out of the range it will cause <font color=red>IndexError</font>; if you use float or other types, it will cause <font color=red>TypeError</font> will occur.

In [61]:
mylst = ['a','v','e','n','g','e','r','s']

print(mylst[0])

a

In [62]:
print(mylst[5])

e

In [63]:
print(mylst[-5])

n

In [64]:
mylst[1.0]       #TypeError ! only integer can be used

TypeError: list indices must be integers or slices, not float

In [65]:
nested = ["Squares", [4,9,16,25]] # Nested List
print(nested[0][5])

e

In [66]:
print(nested[1][2])

16

##### _***2.Slice Operator***_

We can also access the elements of a list by slicing operator.

![](../Figures/captainamerica.jpg)

In [67]:
slc = ['C','a','p','t','a','i','n','A','m','e','r','i','c','a']

print(slc[:]) # elements beginning to end

['C', 'a', 'p', 't', 'a', 'i', 'n', 'A', 'm', 'e', 'r', 'i', 'c', 'a']

In [68]:
print(slc[5:11]) # elements 5th to 11th

['i', 'n', 'A', 'm', 'e', 'r']

In [69]:
print(slc[:-5]) # elements beginning to 4th

['C', 'a', 'p', 't', 'a', 'i', 'n', 'A', 'm']

In [70]:
print(slc[4:]) # elements 5th to end

['a', 'i', 'n', 'A', 'm', 'e', 'r', 'i', 'c', 'a']

As differs from strings, the elements of lists can be changed which means they are mutable.

In [73]:
sqr = [4, 9, 16, 25, 36, 49]

sqr[0] = ('2x2')            # change the 1st item   
sqr[1:-3] = ['3x3', '4x4']  # change 2nd to 3rd items 
sqr

['2x2', '3x3', '4x4', 25, 36, 49]

In [76]:
#sqr.append(7) # adds new item to the end of the list
#sqr.extend([100, 121, 144])

sqr.insert(1,3)
sqr

['2x2', 3, '3x3', '4x4', 25, 36, 49, 7, 7, 100, 121, 144]

In [79]:
# define sqr list again
sqr = [4, 9, 16, 25, 36, 49]

#sqr[3:3] = [64, 91]
print(sqr.index(49))
#sqr

5

In [80]:
print(sqr.count(4))

1

In [82]:
sqr.sort()
#sqr.reverse()

print(sqr)

[4, 9, 16, 25, 36, 49]

In [84]:
# define sqr list again to see the commands for delete values from a list
sqr = [4, 9, 16, 25, 36, 49]

del sqr[3]    # delete one specific item
sqr

[4, 9, 16, 36, 49]

In [85]:
del sqr[4:9]  # delete multiple items from the list
sqr

[4, 9, 16, 36]

In [87]:
del sqr       # delete entire list
sqr

NameError: name 'sqr' is not defined

In [88]:
sqr = [4, 9, 16, 25, 36, 49]
sqr_max = max(sqr)
print(sqr_max)

49

In [89]:
sqr.remove(16) # remove the given item
sqr.clear()
sqr[2:3] = []
print(sqr)

[]

In [90]:
# if index is not specified in pop() it removes and returns the last item
sqr = [4, 9, 16, 25, 36, 49]

print(sqr.pop()) # provides first in, last out data structure

49

In [91]:
print(sqr)

[4, 9, 16, 25, 36]

In [92]:
print(sqr.pop(3)) # remove an item at the given index

25

In [93]:
sqr.pop(2)

16

In [94]:
sqr

[4, 9, 36]

In [95]:
# We can also use ' + ' operator to join two lists. 
# This is also called concatenation as mentoned above.
print(sqr + [169, 19 , 29])

[4, 9, 36, 169, 19, 29]

In [97]:
#The * operator repeats a list for the given number of times.
a= sqr * 2

a

[4, 9, 36, 4, 9, 36]

In [98]:
# Lets check if an item is in the list or not
aaa = ['n','e','o']

In [99]:
print('n' in aaa)

True

In [100]:
print('a' in aaa)

False

In [101]:
print('k' not in aaa)

True

---
## Tuple

A tuple is a collection which is similar to a list. The elements of a tuple are ordered and unchangeable while, in a list, elements can be changed. A Tuple is written with round brackets "( )", separated by commas. A tuple item may be any type (float, string, integer, list etc.) and have any number.

In [102]:
tpl = ()         # create empty tuple
tpl = (1, 2, 3)  # having integers
tpl = (3.14, "pi", (22/7)) # tuple of different datatypes

tpl = ("week",[2,4,6],(1,2,3)) # nested tuple

In [103]:
print(tpl)

('week', [2, 4, 6], (1, 2, 3))

In [104]:
# A tuple created without parenthesis called tuple packing.

tpl2 = 3.14, (22/7), "pi"

In [105]:
print(tpl2)

(3.14, 3.142857142857143, 'pi')

In [106]:
a, b, c = tpl2    # unpacking tuple

In [107]:
print(a)      
print(b)      
print(c)

3.14
3.142857142857143
pi

#### Access items of a tuple

##### _***1.Index Operator***_

An index operator ([ ]) can be used to access the elements of a list. Index starts with 0 and must be an integer. If you access the index number out of the range it will cause <font color=red>IndexError</font>; if you use float or other types, it will cause <font color=red>TypeError</font> will occur.

In [108]:
mytpl = ('E','n','g','i','n','e','e','r','i','n','g')

print(mytpl[0])

E

In [109]:
print(mytpl[2])

g

In [110]:
print(mytpl[-4])

r

In [111]:
mytpl[1.0]          #TypeError ! only integer can be used

TypeError: tuple indices must be integers or slices, not float

In [112]:
nested = ("Squares", [4,9,16,25]) # Nested List

In [113]:
print(nested[0][5])

e

In [114]:
print(nested[1][2])

16

##### _***2.Slice Operator***_

We can also access the elemts of a list by slicing operator.

![](../Figures/blackwidow.jpg)

In [115]:
mytpl = ('b','l','a','c','k','w','i','d','o','w')

print(mytpl[:]) # elements beginning to end

('b', 'l', 'a', 'c', 'k', 'w', 'i', 'd', 'o', 'w')

In [116]:
print(mytpl[5:11]) # elements 5th to 11th

('w', 'i', 'd', 'o', 'w')

In [117]:
print(mytpl[:-5]) # elements beginning to 4th

('b', 'l', 'a', 'c', 'k')

In [118]:
print(mytpl[4:]) # elements 5th to end

('k', 'w', 'i', 'd', 'o', 'w')

In [119]:
# A tuple can be assigned to a different item called reassignment.
mytpl = (4, 9, 16, [64, 81])

In [120]:
mytpl

(4, 9, 16, [64, 81])

In [121]:
mytpl[1] = 5 # TypeError : 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [122]:
mytpl[2][0] = 1  # mutable element item can be changed

TypeError: 'int' object does not support item assignment

In [123]:
mytpl = ('s','p','i','d','e','r') # reassigned
mytpl

('s', 'p', 'i', 'd', 'e', 'r')

In [ ]:
# We can also use ' + ' operator to join two tuplus. 
# This is also called concatenation as mentoned above.

print((1, 2, 3) + (4, 5, 6))

In [ ]:
# The * operator repeats a tuple for the given number of times.
print('money' * 3)

** PS : _Main difference between List and Tuple can be simply defines as : list can be changed or modified after its creation, whereas tuple can't._

---
## Dictionary

A dictionary in the Python is an unordered, changable and indexed collection of items, which are written by curly brackets {}. A dicionary is a composition of key:value pairs. Each key has to retrieve a specific value.

In [124]:
# Create and print a dictionary:

earthquake = {
  "location": "Elazig",
  "magnitude": "6.8",
  "year": 2020,
  "month":"January"  
}

In [125]:
print(earthquake)

{'location': 'Elazig', 'magnitude': '6.8', 'year': 2020, 'month': 'January'}

In [129]:
# to access the items of the dictionary refer its key name.

x = earthquake["location"]
#,or,
x = earthquake.get("year")
x

2020

In [131]:
#change values of specific item;
earthquake["location"] = "Sivrice-Elazig"
earthquake["location"]

'Sivrice-Elazig'

In [132]:
print(len(earthquake))   # gives number of the items in dictionary

4

In [133]:
earthquake["depth"] = 16  # adding new item to the dictionary
len(earthquake)

5

In [134]:
# Creating an empty Dictionary 

guess = {}

In [135]:
print(guess)

{}

In [136]:
# Adding elements one at a time 
guess[0] = 'time'
guess[1] = 'place'

In [137]:
print(guess)

{0: 'time', 1: 'place'}

In [138]:
# Adding set of values to a single Key 
guess[2] = 'anywhere'
guess[3] = 'anytime'

In [139]:
print(guess)

{0: 'time', 1: 'place', 2: 'anywhere', 3: 'anytime'}

In [ ]:
# Ways to remove items from the dictionary;

earthquake.pop("location")  # removes the item with the specified key name
earthquake.popitem()        # removes the last inserted item
del earthquake["month"]     # removes the item with the specified key name
newdict = earthquake.copy() # copies the dictionary
earthquake.clear()          # empties the dictionar

In [140]:
# Sort a dicionary by "keys" or by "values"
eqs = {'Elazig': 5.4, 'Izmir': 5.1, 
       'Kermadec Island': 7.2, 'Samos Island': 4.8, 
       'Antalya': 4.1}

# Sort of earthquakes by their magnitudes in ascending order
eqs_sorted = sorted(eqs.items(), key=lambda x: x[1])

In [141]:
print(eqs_sorted)

[('Antalya', 4.1), ('Samos Island', 4.8), ('Izmir', 5.1), ('Elazig', 5.4), ('Kermadec Island', 7.2)]

##### **_What is "lambda" for in Python?_**

In [142]:
# _What is "lambda" for in Python?_
# "lambda" is a keyword to define "no name" functions

second_order_func = lambda x, y: x**2 + y
second_order_func(3, 1)

10

---
## Arrays

We defined a dictionary for an earthquake with its specified features or items. Lets assume that we have thousands of earthquakes listed with different values (for example; magnitude ranges between 3 to 7, depth changes between 5km to 20 km. etc.) To access the specified earthquake, or a group of earthquakes we can use _arrays_ in Python.

_Arrays_ are used to store multiple values in a single variable. Lists can do, too. List can also a data structure that offers a sequence of datatypes while arrays can only stores values of same datatype.

In [145]:
#Lets assign different types of magnitudes to a key;

M = ["Ml", "Mw", "Mb"]  # single key can hold multiple variable.
m1 = "Ml"
m2 = "Mw"
m3 = "Mb"

a = M[0]     # value of the first array item
M[0] = "Md"  # reassign first array item

In [146]:
print(M)

['Md', 'Mw', 'Mb']

In [148]:
a = len(M)   # number of elements in an array

In [149]:
print(a)

3

In [152]:
M.append('Ml')  # add an element to an array
M

['Md', 'Mw', 'Mb', 'Ml', 'Ml', 'Ml']

In [ ]:
M.pop(1)        # remove an element from the array

In [ ]:
M.remove('Mb')  # remove the element that has the value "Mb"

---

## Homework #2

_As a first part of your code;_

- Please select 6 of your courses from your previous semester. 
- Create a **list** by using the _GTU_code_ of your courses you selected (as CE103, MATH101 etc.), 
- Create another **list** by using your _"Passing Grades"_ of the courses you selected in the same order,
- Create another **list** with your _"ACTS Credits"_ of the courses you selected in the same order,
- Using the list of your  _"passing grades"_  list and your _"ACTS Credits"_ list, write a code that calculates and creates your _"GPA"_ grade **list** by using the steps below:
  
    1. **_PassGrds_All =  _Add up all PassGrade points_**
    2. **_Divide the added grade points (PassGrds_All) by the number of class credits taken from the cources you select._**



_As a second part of your code;_

- Create a **dictionary** where the **key** will be taken from the _GTU_code_ of your courses list that you created and **value** will be taken from the _"Passing Grades"_ list you created,
- **Print** your dictionary on the screen, 
- **Sort** the dictionary in Descending Order with the "value" and **print** it again on the screen.


*** Convert every letter grade to its respective points (A=4, B=3, C=2, D=1, F=0.)

PS: Do not forget to upload your "HWX_namesurname.ipynb" files to http://gtuzem.gtu.edu.tr/

---